# Cleaning Data

In [1]:
import pandas as pd

dataset=pd.read_csv("C:/Users/Student/Downloads/archive/AB_NYC_2019.csv")
dataset.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2539,Clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,9,2018-10-19,0.21,6,365
1,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1,45,2019-05-21,0.38,2,355
2,3647,THE VILLAGE OF HARLEM....NEW YORK !,4632,Elisabeth,Manhattan,Harlem,40.80902,-73.94190,Private room,150,3,0,NaN,NaN,1,365
3,3831,Cozy Entire Floor of Brownstone,4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89,1,270,2019-07-05,4.64,1,194
4,5022,Entire Apt: Spacious Studio/Loft by central park,7192,Laura,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80,10,9,2018-11-19,0.10,1,0

In [2]:
dataset.isnull().any()

id                                False
name                               True
host_id                           False
host_name                          True
neighbourhood_group               False
neighbourhood                     False
latitude                          False
longitude                         False
room_type                         False
price                             False
minimum_nights                    False
number_of_reviews                 False
last_review                        True
reviews_per_month                  True
calculated_host_listings_count    False
availability_365                  False
dtype: bool

In [3]:
from sklearn.impute import SimpleImputer
# Initialize SimpleImputer
imputer = SimpleImputer(strategy='most_frequent')
# Impute missing values in a column
dataset['last_review'] = imputer.fit_transform(dataset[['last_review']])
dataset['reviews_per_month']=imputer.fit_transform(dataset[['reviews_per_month']])
print(dataset)

C:\Users\Student\anaconda3\lib\site-packages\scipy\__init__.py:146: UserWarning: A NumPy version >=1.16.5 and <1.23.0 is required for this version of SciPy (detected version 1.26.0
  warnings.warn(f"A NumPy version >={np_minversion} and <{np_maxversion}"

             id                                               name   host_id  \
0          2539                 Clean & quiet apt home by the park      2787
1          2595                              Skylit Midtown Castle      2845
2          3647                THE VILLAGE OF HARLEM....NEW YORK !      4632
3          3831                    Cozy Entire Floor of Brownstone      4869
4          5022   Entire Apt: Spacious Studio/Loft by central park      7192
...         ...                                                ...       ...
48890  36484665    Charming one bedroom - newly renovated rowhouse   8232441
48891  36485057      Affordable room in Bushwick/East Williamsburg   6570630
48892  36485431            Sunny Studio at Historical Neighborhood  23492952
48893  36485609               43rd St. Time Square-cozy single bed  30985759
48894  36487245  Trendy duplex in the very heart of Hell's Kitchen  68119814

           host_name neighbourhood_group       neighbourhood  latitude  \
0               John            Brooklyn          Kensington  40.64749
1           Jennifer           Manhattan             Midtown  40.75362
2          Elisabeth           Manhattan              Harlem  40.80902
3        LisaRoxanne            Brooklyn        Clinton Hill  40.68514
4              Laura           Manhattan         East Harlem  40.79851
...              ...                 ...                 ...       ...
48890        Sabrina            Brooklyn  Bedford-Stuyvesant  40.67853
48891        Marisol            Brooklyn            Bushwick  40.70184
48892  Ilgar & Aysel           Manhattan              Harlem  40.81475
48893            Taz           Manhattan      Hell's Kitchen  40.75751
48894     Christophe           Manhattan      Hell's Kitchen  40.76404

       longitude        room_type  price  minimum_nights  number_of_reviews  \
0      -73.97237     Private room    149               1                  9
1      -73.98377  Entire home/apt    225               1                 45
2      -73.94190     Private room    150               3                  0
3      -73.95976  Entire home/apt     89               1                270
4      -73.94399  Entire home/apt     80              10                  9
...          ...              ...    ...             ...                ...
48890  -73.94995     Private room     70               2                  0
48891  -73.93317     Private room     40               4                  0
48892  -73.94867  Entire home/apt    115              10                  0
48893  -73.99112      Shared room     55               1                  0
48894  -73.98933     Private room     90               7                  0

      last_review  reviews_per_month  calculated_host_listings_count  \
0      2018-10-19               0.21                               6
1      2019-05-21               0.38                               2
2      2019-06-23               0.02                               1
3      2019-07-05               4.64                               1
4      2018-11-19               0.10                               1
...           ...                ...                             ...
48890  2019-06-23               0.02                               2
48891  2019-06-23               0.02                               2
48892  2019-06-23               0.02                               1
48893  2019-06-23               0.02                               6
48894  2019-06-23               0.02                               1

       availability_365
0                   365
1                   355
2                   365
3                   194
4                     0
...                 ...
48890                 9
48891                36
48892                27
48893                 2
48894                23

[48895 rows x 16 columns]

In [4]:

# Identify duplicate records based on all columns
duplicate_rows = dataset[dataset.duplicated()]

print("Duplicate Records:")
print(duplicate_rows)

# Remove duplicate records
dataset_unique = dataset.drop_duplicates()

print("\nDataFrame after Duplicate Removal:")
print(dataset_unique)

Duplicate Records:
Empty DataFrame
Columns: [id, name, host_id, host_name, neighbourhood_group, neighbourhood, latitude, longitude, room_type, price, minimum_nights, number_of_reviews, last_review, reviews_per_month, calculated_host_listings_count, availability_365]
Index: []

DataFrame after Duplicate Removal:
             id                                               name   host_id  \
0          2539                 Clean & quiet apt home by the park      2787
1          2595                              Skylit Midtown Castle      2845
2          3647                THE VILLAGE OF HARLEM....NEW YORK !      4632
3          3831                    Cozy Entire Floor of Brownstone      4869
4          5022   Entire Apt: Spacious Studio/Loft by central park      7192
...         ...                                                ...       ...
48890  36484665    Charming one bedroom - newly renovated rowhouse   8232441
48891  36485057      Affordable room in Bushwick/East Williamsburg   6570630
48892  36485431            Sunny Studio at Historical Neighborhood  23492952
48893  36485609               43rd St. Time Square-cozy single bed  30985759
48894  36487245  Trendy duplex in the very heart of Hell's Kitchen  68119814

           host_name neighbourhood_group       neighbourhood  latitude  \
0               John            Brooklyn          Kensington  40.64749
1           Jennifer           Manhattan             Midtown  40.75362
2          Elisabeth           Manhattan              Harlem  40.80902
3        LisaRoxanne            Brooklyn        Clinton Hill  40.68514
4              Laura           Manhattan         East Harlem  40.79851
...              ...                 ...                 ...       ...
48890        Sabrina            Brooklyn  Bedford-Stuyvesant  40.67853
48891        Marisol            Brooklyn            Bushwick  40.70184
48892  Ilgar & Aysel           Manhattan              Harlem  40.81475
48893            Taz           Manhattan      Hell's Kitchen  40.75751
48894     Christophe           Manhattan      Hell's Kitchen  40.76404

       longitude        room_type  price  minimum_nights  number_of_reviews  \
0      -73.97237     Private room    149               1                  9
1      -73.98377  Entire home/apt    225               1                 45
2      -73.94190     Private room    150               3                  0
3      -73.95976  Entire home/apt     89               1                270
4      -73.94399  Entire home/apt     80              10                  9
...          ...              ...    ...             ...                ...
48890  -73.94995     Private room     70               2                  0
48891  -73.93317     Private room     40               4                  0
48892  -73.94867  Entire home/apt    115              10                  0
48893  -73.99112      Shared room     55               1                  0
48894  -73.98933     Private room     90               7                  0

      last_review  reviews_per_month  calculated_host_listings_count  \
0      2018-10-19               0.21                               6
1      2019-05-21               0.38                               2
2      2019-06-23               0.02                               1
3      2019-07-05               4.64                               1
4      2018-11-19               0.10                               1
...           ...                ...                             ...
48890  2019-06-23               0.02                               2
48891  2019-06-23               0.02                               2
48892  2019-06-23               0.02                               1
48893  2019-06-23               0.02                               6
48894  2019-06-23               0.02                               1

       availability_365
0                   365
1                   355
2                   365
3                   194
4                     0
...                 ...
48890                 9
48891                36
48892                27
48893                 2
48894                23

[48895 rows x 16 columns]

In [5]:
from sklearn.preprocessing import StandardScaler
#standardization
scaler = StandardScaler()

# Scale only numeric columns
numeric_columns = dataset.select_dtypes(include=['float64', 'int64'])
dataset_scaled = pd.DataFrame(scaler.fit_transform(numeric_columns), columns=numeric_columns.columns)

# Print scaled dataset
print(dataset_scaled)

             id   host_id  latitude  longitude     price  minimum_nights  \
0     -1.731277 -0.860159 -1.493849  -0.437652 -0.015493       -0.293996
1     -1.731272 -0.860158  0.452436  -0.684639  0.300974       -0.293996
2     -1.731176 -0.860135  1.468399   0.222497 -0.011329       -0.196484
3     -1.731159 -0.860132 -0.803398  -0.164450 -0.265335       -0.293996
4     -1.731051 -0.860103  1.275660   0.177216 -0.302811        0.144807
...         ...       ...       ...        ...       ...             ...
48890  1.590415 -0.755469 -0.924616   0.048089 -0.344452       -0.245240
48891  1.590451 -0.776609 -0.497141   0.411637 -0.469373       -0.147729
48892  1.590485 -0.561340  1.573480   0.075821 -0.157070        0.144807
48893  1.590501 -0.466024  0.523774  -0.843881 -0.406912       -0.293996
48894  1.590650  0.006358  0.643525  -0.805100 -0.261171       -0.001461

       number_of_reviews  reviews_per_month  calculated_host_listings_count  \
0              -0.320414          -0.555055                       -0.034716
1               0.487665          -0.448437                       -0.156104
2              -0.522433          -0.674216                       -0.186451
3               5.538156           2.223287                       -0.186451
4              -0.320414          -0.624043                       -0.186451
...                  ...                ...                             ...
48890          -0.522433          -0.674216                       -0.156104
48891          -0.522433          -0.674216                       -0.156104
48892          -0.522433          -0.674216                       -0.186451
48893          -0.522433          -0.674216                       -0.034716
48894          -0.522433          -0.674216                       -0.186451

       availability_365
0              1.916250
1              1.840275
2              1.916250
3              0.617065
4             -0.856865
...                 ...
48890         -0.788486
48891         -0.583352
48892         -0.651730
48893         -0.841669
48894         -0.682120

[48895 rows x 10 columns]

In [6]:
import numpy as np
import matplotlib.pyplot as plt  


# Boxplots
dataset.boxplot(figsize=(10, 6))
plt.title('Boxplot of the Dataset')
plt.show()

# Statistical Methods - Z-Score Method
from scipy import stats
# Select numeric columns for z-score calculation
numeric_columns = dataset.select_dtypes(include=np.number)

# Calculate z-scores for numeric columns
z_scores = stats.zscore(numeric_columns)


# Define threshold for outliers
threshold = 3

# Find outliers
outliers = (np.abs(z_scores) > threshold).any(axis=1)

# Print indices of rows containing outliers
print("Indices of rows containing outliers:")
print(dataset.index[outliers])

IndentationError: unexpected indent (247947037.py, line 5)